<div class="container">
<div class="row justify-content-center">
    <div class="col cl-sm-3">
        <form action="/events/create" method="post">
            <div class="input-group mb-1">
                <span class="input-group-text"><i class="fa fa-user fa-fw"></i></span>
                <input type="text" name="name" class="form-control  {{#if errors.name}} is-invalid {{/if}}"   placeholder="Write your Username" aria-label="Username" value="{{event.name}}" >
                {{#if errors.name}}<div class="invalid-feedback">{{ errors.name }}</div>{{/if}}
            </div>

            <div class="input-group mb-1">
                <span class="input-group-text"><i class="fa fa-user fa-fw"></i></span>
                <input type="date" name="date" class="form-control  {{#if errors.date}} is-invalid {{/if}}"   aria-label="Date"  placeholder="Write the event's date" value="{{event.date}}">
                {{#if errors.date}}<div class="invalid-feedback">{{ errors.date }}</div>{{/if}}
            </div>

            <div class="input-group mb-1">
                <span class="input-group-text"><i class="fa fa-user fa-fw"></i></span>
                <input type="text" name="description" class="form-control  {{#if errors.description}} is-invalid {{/if}}"   aria-label="Description" value="{{event.description}}" placeholder="Write the event's description">
                {{#if errors.description}}<div class="invalid-feedback">{{ errors.description }}</div>{{/if}}
            </div>

            <div class="input-group mb-1">
                <span class="input-group-text"><i class="fa fa-user fa-fw"></i></span>
                <input type="text" name="city" class="form-control  {{#if errors.city}} is-invalid {{/if}}"   aria-label="city" value="{{event.city}}" placeholder="Write the city">
                {{#if errors.city}}<div class="invalid-feedback">{{ errors.city }}</div>{{/if}}
            </div>

             <div class="form-group mb-1">
                <select name="genreRestrictions"  aria-label="Dresscode">
                    <option selected> Select</option>
                    {{#each genreList as |genre |}}
                    <option value="{{genre}}">{{genre}}</option>
                    {{/each}}
                    
                </select>
            </div>


            <div class="input-group mb-1">
                <span class="input-group-text"><i class="fa fa-user fa-fw"></i></span>
                <input type="text" name="category" class="form-control  {{#if errors.category}} is-invalid {{/if}}"   aria-label="category" value="{{event.category}}" placeholder="Write the event's category">
                {{#if errors.category}}<div class="invalid-feedback">{{ errors.category }}</div>{{/if}}
            </div>

            <div class="input-group mb-1">
                <span class="input-group-text"><i class="fa fa-user fa-fw"></i></span>
                <input type="text" name="age" class="form-control  {{#if errors.age}} is-invalid {{/if}}"   aria-label="age" value="{{event.age}}" placeholder="Write your age">
                {{#if errors.age}}<div class="invalid-feedback">{{ errors.age }}</div>{{/if}}
            </div>

            <div class="input-group mb-1">
                <span class="input-group-text"><i class="fa fa-user fa-fw"></i></span>
                <input type="text" name="owner" class="form-control  {{#if errors.owner}} is-invalid {{/if}}"   aria-label="owner" value="{{event.owner}}" placeholder="*__*">
                {{#if errors.owner}}<div class="invalid-feedback">{{ errors.owner }}</div>{{/if}}
            </div>

            <div class="input-group mb-1">
                <span class="input-group-text"><i class="fa fa-user fa-fw"></i></span>
                <input type="text" name="guests" class="form-control  {{#if errors.guests}} is-invalid {{/if}}"   aria-label="guests" value="{{event.guests}}" placeholder="Write your guests">
                {{#if errors.guests}}<div class="invalid-feedback">{{ errors.guests }}</div>{{/if}}
            </div>

            {{!-- <div class="input-group mb-1">
                <span class="input-group-text"><i class="fa fa-user fa-fw"></i></span>
                <input type="text" name="dressCode" class="form-control  {{#if errors.dressCode}} is-invalid {{/if}}"   aria-label="dressCode" value="{{event.dressCode}}" placeholder="Write your dressCode">
                {{#if errors.dressCode}}<div class="invalid-feedback">{{ errors.dressCode }}</div>{{/if}}
            </div> --}}
            <div class="form-group mb-1">
                <select name="dressCode"  aria-label="Dresscode">
                    <option selected> Select the Dresscode</option>
                    {{#each dressList as |dressList|}}
                    <option value="{{dressList}}">{{dressList}}</option>
                    {{/each}}
                </select>
            </div>

            <button type="submit">Create your event!</button>

        </form>
    </div>
</div>
</div>