<h1>Join our plans</h1>
<h2>We have plans for everytaste, if not, create your own!</h2>
<hr>
{{#if currentUser}}
<div class="d-flex align-items-center align-self-center align-self-stretch justify-content-around">
    <h5>Filter events by</h5>{{>filter}}
</div>
<hr>

<section class="card-deck">
  {{#each events as |event|}}
    <div class="card event-card">
      <h3>{{event.name}}</h3>
      <img src="{{event.image}}" alt="{{event.name}}" />
      <div class="card-body">
        <h4><i class="fa fa-calendar-day fa-fw"></i> {{dateFormatterList date=event.date}} | <i class="fas fa-map-marker-alt fa-fw"></i> {{event.city}}</h4>      
        <p>{{dotted event.description 100 }}</p>
        <a href="/events/{{event.id}}">Detail</a>
            <form method="POST" action="/events/match/{{event.id}}">
                <button type="submit" style="text-center">
                    {{#like matches=event.matches  user=../currentUser}}
                    <div class="like"><i class="far fa-heart fa-fw"></i>JOIN PLAN</div>
                    {{else}}<div class="dislike" title="Exit this plan"><i class="fas fa-times"></i>EXIT PLAN</div>
                    {{/like}}
                </button>
            </form>
            <h5>Owned by {{event.owner.name}}</h5>
      </div>
    </div>
  {{/each}} 
</section>
{{else}}
<div id="login">
<h3>You have to be logged to acces to this section</h3>
<img src="/img/login.png" alt="login" />
<a href="/login">Login</a>
</div>
{{/if}}




