{{!-- <div class="container">
    
    <div class="card" style="width: 18rem;">
        {{#each events as | event|}}
        <h5 class="card-title">{{event.name}}</h5>
    <img src="{{event.image}}" class="card-img-top" alt="{{event.name}}">
    <div class="card-body">
        <p class="card-text">{{event.description}}</p>
        <p class="card-text">{{dateFormatter date=event.date}}</p>
        <a href="/events/{{event.id}}" class="btn btn-primary">Detail</a>
        <a href="/events/{{event.id}}/edit" class="btn btn-primary">Edit</a>
        <form action="/events/{{event.id}}/delete" method="post"><button type="submit">Delete</button></form>
    </div>
    {{/each}}
    </div>
</div> --}}
<hr>
<div class="d-flex align-items-center align-self-center align-self-stretch">
    <h5>Filter events by    </h5>  {{>filter}}
</div>
<hr>
<div class="container" id="event-list">
        {{#each events as | event|}}
    <div class="card">
        <h3>{{event.name}}</h3>
        <img src="{{event.image}}" class="card-img-top" alt="{{event.name}}">
        <div class="jeje">
            <h4><i class="fa fa-calendar-day fa-fw"></i>{{dateFormatterList date=event.date}} | <i class="fas fa-map-marker-alt fa-fw"></i>{{event.city}} </h4>
        </div>
        <p>{{event.description}}</p>
        <a href="/events/{{event.id}}" class="btn btn-primary">DETAIL</a>
        <h5>Owner by {{event.owner.name}}</h5>
        <form method="POST" action="/events/match/{{event.id}}">
         <button type="submit"><div class="join-event"><div class="join"><i class="far fa-heart fa-fw"></i>JOIN PLAN</div><div class="delete"><i class="fas fa-times"></i>EXIT PLAN</div></div></button>
         </form>
    </div>
        {{/each}}
</div>

