<h1>Hi {{currentUser.name}}</h1>
<h2>Please, edit your profile</h2>

<form action="/user-profile/{{currentUser._id}}/edit" method="POST" enctype="multipart/form-data">
  <div id="profile">
    <div class="col-sm-4">
      <img src="{{currentUser.avatar}}" alt="{{currentUser.name}}" />
      <input type="file" name="avatar" value="{{currentUser.avatar}}" />
    </div>
    <div class="col-sm-8">
         <div>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label"> Name</label>
      <input type="text" name="name" class="form-control" id="inputEmail4" placeholder="Name" value="{{currentUser.name}}">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label"> Password </label>
      <input type="password" name="password" class="form-control" id="inputPassword4" placeholder="Change your password"/>
    </div>
    <div class="col-md-6">
      <label for="inputCity" class="form-label"> City </label>
      <input type="text" name="city" class="form-control" id="inputCity" placeholder="Your resident city" value="{{currentUser.city}}"/>
    </div>
    <div class="col-md-6">
        <label for="inputCity" class="form-label"> Birth Date </label>
        <input type="date" name="age" value="{{currentUser.age}}" />
    </div>
    <div class="col-md-4">
      <label for="inputState" class="form-label"> Genre </label>
      <select id="inputState" name="genre" class="form-select">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value ="Non binary">Non binary</option>
        <option value="Non listed">Other option</option>
      </select>
    </div>
    </div>

     
   {{#each categoriesList as |category|}}
    <div class="form-check form-switch">
      <input class="form-check-input" value={{category}} type="checkbox" id="flexSwitchCheckDefault" name="interests"/>
      <label class="form-check-label" for="flexSwitchCheckDefault">{{category}} </label>
    </div>
    {{/each}} 

   <div class="col-12">
      <button type="submit" class="btn btn-primary">Send</button>
    </div>
  </div>
 
 </div>
</form>

