<h1>Hi {{user.name}}</h1>
<h2>Please, edit your profile</h2>

<form action="/user-profile/me/edit" method="POST" enctype="multipart/form-data">
  <div id="profile">
    <div class="col-sm-4">
      
      <img src="{{Currentuser.avatar}}" alt="{{Currentuser.name}}" />
      <h5>Change your profile picture</h5>
      <input type="file" name="avatar" value="{{Currentuser.avatar}}" />
    </div>
    <div class="col-sm-8 m-5">
         <div>
    <div class="col-md-6">
      <label for="inputEmail4"> Name</label>
      <input type="text" name="name" class="form-control" id="inputEmail4" placeholder="Name" value="{{Currentuser.user.name}}">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" > Password </label>
      <input type="password" name="password" class="form-control" id="inputPassword4" placeholder="Change your password"/>
    </div>
    <div class="col-md-6">
      <label for="inputCity" > City </label>
      <input type="text" name="city" class="form-control" id="inputCity" placeholder="Your resident city" value="{{user.city}}"/>
    </div>
    <div class="col-md-6">
        <label for="inputCity" > Birth Date </label>
        <input type="date" name="age" value="{{user.age}}" />
    </div>
    <div class="col-md-4">
      <label for="inputState" > Genre </label>
      <select id="inputState" name="genre" class="form-select">
        {{#each genreList as |genre|}}
        <option value={{genre}}>{{genre}}</option>
        {{/each}}
      </select>
    </div>
    </div>

     
   {{#each categoriesList as |category|}}
    <div class="form-check form-switch">
      <input class="form-check-input" value={{category}} type="checkbox" id="flexSwitchCheckDefault" name="interests"/>
      <label class="form-check-label" for="flexSwitchCheckDefault">{{category}} </label>
    </div>
    {{/each}} 

   <div class="col-12">
      <button type="submit" class="btn btn-primary">Send</button>
    </div>
  </div>
 
 </div>
</form>

