<div class="container"><h1>Hi {{user.name}}</h1>
<h2>Please, edit your profile</h2>

<form
  action="/user-profile/me/edit"
  method="POST"
  enctype="multipart/form-data"
>
  <div id="profile">
    <div class="col-sm-4 mr-5">
      <img src="{{user.avatar}}" alt="{{user.name}}" />
      <h5>Change your profile picture</h5>
      <input type="file" name="avatar" value="{{user.avatar}}" />
    </div>
    <div class="col-sm-8 m-5 form">
      <div>
        <div class="col-md-8 mb-2">
          <h3>Name</h3>
          <input type="text" name="name"  id="inputEmail4"  placeholder="Name" value="{{user.name}}" />
        </div>
        <div class="col-md-8 mb-2">
          <h3>Password</h3>
          <input type="password" name="password" id="inputPassword4" placeholder="Change your password" />
        </div>
        <div class="col-md-8 mb-2">
          <h3> City </h3>
          <input type="text" name="city"  id="inputCity" placeholder="Your resident city" value="{{user.city}}" />
        </div>
        <div class="col-md-8 mb-2">
          <h3> Birth Date </h3>
          <input type="date" name="age" value="{{user.age}}" />
        </div>
        <div class="col-md-8 mb-2 custom-select">
          <h3> Genre </h3>
          <select id="inputState" name="genre" class="form-select">
            {{#each genre as |gender|}}
              <option  value={{gender}}>{{ dataLabels id=gender selector="text" }}</option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="col-md-8 mb-2">
        <h3>Say something about you</h3>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="about">
          {{user.about}}
        </textarea>
      </div>
       <div class="col-md-8 mb-2">
      <h3>Interests</h3>
      <fieldset class="d-flex align-content-center flex-wrap">
      {{#each categories as |category|}}
        <div class="sm-3 m-2 category-list">
          <input type="checkbox" name="interests" class="icons-form checked-box" id={{category}} value="{{category}}" >
          <label for="{{category}}" class="category-card {{#eventHasCategory keyWord='category' key=category  user=../user}} category-selected {{else}} category-icons {{/eventHasCategory}} ">
          <h2> <i class=" {{ categoryLabel id=category selector='icon' }}"></i></h2>
          <h5> {{ categoryLabel id=category selector='text' }} </h5>
          </label>
        </div>
      {{/each}}
      </fieldset>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Send</button>
      </div>
    </div>

  </div>
</form>
</div>
