<div id="profile">
     {{#if currentUser}}
    <nav class="user-nav">
        <ul>
            <li><a href="#">My plans</a></li>
            <li><a href="#">Messages</a></li>
            <li><a href="/events/create">Add an event</a></li>
        </ul>
    </nav>  
    {{/if}}  
    
    <div>
        <h1>Hi there{{#if currentUser}} {{currentUser.name}}! {{else}}!</h1>
       
        <h2>I'm {{user.name}}</h2>
        {{/if}}
        
        <h2> {{ pronoms user=currentUser }}</h2>
        <h3>My interests are</h3>
        {{#each user.interests as |interest|}}
        <h2>{{interest}}</h2>
        {{/each}}

    </div>

    <div class="d-flex flex-column">
        <img src="{{user.avatar}}" alt="{{user.name}}" />
    {{#if currentUser}}
        <a href="/user-profile/me/edit"><i class="far fa-edit"></i> edit profile</a>
    </div>
    {{/if}}
</div>