<h1>Welcome to your events page</h1>
<h3>Matched events</h3>
<div>
 {{#each events as |event|}}
 <div class="card">
   <h3>{{event.name}}</h3>
   <img src={{event.img}} alt={{event.name}} />
   <p>{{event.description}}</p>
   <a href="/events/{{event.id}}">Detail</a>
 </div>  
    {{/each}}
</div>
<h3>Proposed events</h3>
<div>

</div>
